<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Open Redirect Test</title>
</head>
<body>
	<h1>ログイン画面</h1>
	<form name="pattern-1">
		<p>
			<label>ユーザー名</label><input type="text"></input>
		</p>
		<p>
			<label>パスワード</label><input type="password"></input>
		</p>
		<p>
			<button type="button" name="btnLogin-1">ログイン</button>
		</p>
	</form>
	<form name="pattern-2">
		<p>
			<label>ユーザー名</label><input type="text"></input>
		</p>
		<p>
			<label>パスワード</label><input type="password"></input>
		</p>
		<p>
			<button type="button" name="btnLogin-2">ログイン</button>
		</p>
	</form>
</body>
</html>